mongoengine<0.19,>=0.18
git+https://github.com/derlin/swisstext.git@v0.4#egg=swisstext-mongo-0.0.1&subdirectory=mongo
git+https://github.com/derlin/swisstext.git@v0.4#egg=swisstext-cmd-0.0.1&subdirectory=backend
git+https://github.com/derlin/swisstext-bert-lid.git#egg=bert-lid